{% extends 'partials/base.html.twig' %}

{% block content %}
<div class="service-item">
  <div class="section-header">
    <div class="container">
      <div class="row flex-column">
        <h1>{{ page.header.title }}</h1>
        <p>{{ page.header.dt_ringkasan }}</p>
      </div>
    </div>
  </div>

	<div class="section-content">
  	<div class="container">

      <div class="breadcrumb">
        <a class="breadcrumb-item" href="{{ base_url }}">Home</a>
        <a class="breadcrumb-item" href="{{ page.parent.url }}">{{ page.parent.title }}</a>
        <span class="breadcrumb-item active">{{ page.header.title }}</span>
      </div>

      <div class="row">
        <div class="col-12">
          {{ page.content }}
        </div>
      </div>
  	</div>

    <div class="post_navigation">
		{% include 'partials/sibling-service.html.twig' %}
    </div>
	
	</div>
</div>


{% if config.plugins.admin.enabled and authorize(['admin.pages', 'admin.super']) %}
    {% if page.link == '/' %}
        {% set editPagePath = "/" ~ page.slug %}
    {% else %}
        {% set editPagePath = uri.path %}
    {% endif %}

    <a class="editpage" href="{{ base_url }}/admin/pages{{ editPagePath }}">Edit</a>
{% endif %}

{% endblock %}
